#page-signin {
  height: 100vh;
  width: 100%;
  background-color: #F4F4F4;
  min-height: 760px;
  min-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  .login-content {
    height: 600px;
    width: 950px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #DDDDDD;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    .login-form-layout, .login-bg-layout {
      height: 100%;
    }
    .login-form-layout {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        margin-top: 100px;
        width: 70px;
        height: 70px;
      }
      .title {
        color: #4285FF;
        user-select: none;
        margin-bottom: 20px;
      }
      .form {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        .email-form {
          .el-input__inner {
            padding-right: 90px;
          }
        }
        .submit-form-item {
          margin-top: 30px;
          .signin-button {
            width: 100%;
          }
        }
      }
      .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        .el-button + .el-button {
          margin-left: 10px;
        }
      }
    }
    .login-bg-layout {
      flex: 1;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      display: flex;
      align-items: center;
      .title-layout {
        margin-left: 100px;
        .title {
          font-weight: normal;
          color: #FFFFFF;
          letter-spacing: 10px;
          user-select: none;
        }
      }
    }
  }
}